
.calls-list {
    list-style: none;
}

.call-container {
    padding: 5px;
    border-bottom: 1px solid #ced4da;
    text-align: center;
}

.call-container a {}

.container .row .col h1 {
    text-align: center;
    margin-bottom: 20px;
}

#chat-container {
    height: 150px;
    overflow-y: scroll; 
    border: 1px solid #ced4da;
    border-bottom: 0px;
}

.message {
    padding: 5px;
    border-bottom: 1px solid #ced4da;
}
.nickname.local {
    background: #E5E500;
    color: white;
    font-weight: bold;
    padding: 2.5px;
}

.nickname.remote {
    background:#3232EA;
    color: white;
    font-weight: bold;
    padding: 2.5px;
}

textarea.form-control {
    border-radius: 0;
    height: 35px;
}

textarea.form-control:focus {
    box-shadow: initial;
}