%h1= "Welcome to call #{@call.title}"
%p= @call.description
- if @error
    %div{ :class => "alert alert-danger", :role => "alert" }= @error
%form{ :action => "/call/#{@call.slug}/authenticate", :method => "POST"}
    %div{ :class => "form-group"}
        %label{ :for => "pincode" } Nickname
        %input{ :type => "nickname", :class => "form-control", :name => "nickname" }
    - unless @call.pincode.nil?
        %div{ :class => "form-group"}
            %label{ :for => "pincode" } pincode
            %input{ :type => "pincode", :class => "form-control", :name => "pincode" }
    %button{ :type => "submit", :class => "btn btn-light" } Enter call