.row
    .col
        .row
            .col-6
                %video{:id => "local", :autoplay => true, :playsinline => true, :mute => true, :width => "100%", :poster => "https://via.placeholder.com/640x480?text=#{@nickname}"}
            .col-6
                %video{:id => "remote", :autoplay => true, :playsinline => true, :mute => true, :width => "100%", :poster => "https://via.placeholder.com/640x480?text=Remote+User"}
.row
    .col
        #chat-container
            #chat
        %form
            %div{:class => "form-group"}
                %textarea{:name => "message", :class => "form-control"}
                %button{:type => "submit", :class => "btn btn-light", :id => "send"} send
                %button{:class => "btn btn-light", :id => "call", :disabled => true} Call
                %button{:class => "btn btn-light", :id => "hangup", :disabled => true} Hang Up

:javascript
    var roomId = "#{@call.slug}"
    var nickname = "#{@nickname}"
    var iceServers = [{
        urls: #{@ice_servers}.v.iceServers.filter(server => server.url.indexOf('stun')).map(server => server.url),
        username: #{@ice_servers}.v.iceServers.find(server => server.username).username,
        credential: #{@ice_servers}.v.iceServers.find(server => server.credential).credential
    }]

%script{:src => '/scripts/adapter.js'}
%script{:src => '/scripts/action-cable.js'}
%script{:src => '/scripts/app.js'}
