.row
    .col
        %h1 Create a call
.row
    .col
        %ul.calls-list
            - @calls.to_a.each do |call|
                %li.call-container
                    %a{:href => "/call/#{call.slug}"}
                        = call.title
    .col
        %form{:action => "/call/create", :method => "POST"}
            .form-group
                %label{:for => "title"} Add a title for this call
                %input{:type => "text", :class => "form-control", :name => "title"}
            .form-group
                %label{:for => "description"} Add a description
                %textarea{:type => "text", :class => "form-control", :name => "description"}
            .form-group
                %label{:for => "pincode"} Protect your video call with a pincode
                %input{:type => "pincode", :class => "form-control", :name => "pincode"}
            
            %button{:type => "submit", :class => "btn btn-light"} Create
