%h1 Here is your call info
.row
    .col
        %p Title
        %p Description
        %p URL
        %p Save this password
        
    .col
        %p= @call.title
        %p= @call.description
        %p
            %a{:href => "#{ENV['HOSTNAME']}:#{ENV['PORT']}/call/#{@call.slug}" }= "#{ENV['HOSTNAME']}:#{ENV['PORT']}/call/#{@call.slug}"
        %p= "#{@call.pincode}"