<!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
        %title Hangouts clone
        %link{ :rel => "stylesheet", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" }
        %link{ :rel => "stylesheet", :href => "/stylesheets/app.css" }
        %script{ :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js" }
        %script{ :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" }
        %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js" }
    %body
        .container
            =yield

        